<!DOCTYPE html>
<html>
  <head>
    <title>HNG TASK 2</title>
  </head>

  <body>



<form action="/" method="post" >
          <input type="text" id="operation_type" name="operation_type" placeholder="additiion, subtraction....." style="width: 200px"/>
  <input type="number" id="x" name="x" placeholder="x" style="width: 200px"/>
  <input type="number" id="y" name="y" placeholder="y" style="width: 200px"/>
          <input id="submit" type="submit" value='submit'/>
        </form>
        

    
  </body>
</html>

